// .footer-form {
//     margin-left: 93px;

// }
// .footer-form__text {
//     font-style: normal;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     margin-bottom: 20px;
//     color: var(--second-btn-color);
// }

// .footer-form__input {

//     width: 358px;
//     outline: none;
//     padding-left: 15px;
//     padding-top: 16px;
//     padding-bottom: 16px;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     background-color: var(--background-color);
//     color: var(--second-btn-color);
//     transition: border-color 250ms var(--timing-function);

//     &:focus {
//         transition: border-color 250ms var(--timing-function);
//         border-color: var(--first-btn-color);

//     }

//     &::placeholder {
//         color: rgba(255, 255, 255, 0.6);
//     }

// }



// .footer-form__btn {
//     font-family: inherit;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.9;
//     text-align: center;
//     letter-spacing: 0.06em;
//     cursor: pointer;
//     border: none;
//     padding: 10px 69px 10px 24px;

//     width: 200px;
//     height: 50px;
//     border-radius: 4px;
//     margin-left: 12px;
//     position: relative;
//     background: var(--first-btn-color);
//     color: var(--second-btn-color);
// }

// .footer-form__svg {
//     @extend %position;
//     position: absolute;
//     right: 28px;
//     bottom: 13px;
// }