.page-header__logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
        line-height: 1.16;
    color: var(--first-btn-color)

   

}
 // // ДЛя планшета
@media screen and (min-width: 768px) and (max-width:1199px) {
    .page-header__logo{
        margin-right: 88px;
    }

     }

@media screen and (min-width:1199px) {
    .page-header__logo {
        margin-right: 93px;
    }
    .page-header__logo,.page-header__logo--another{
        font-size: 26px;
            line-height: 1.19;

    }

}

         

.page-header__logo--another {
    transition: color 250ms var(--timing-function);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
        line-height: 1.16;

    letter-spacing: 0.03em;
    color: var(--header-color);

    &:hover,
    &:focus {
        transition: color 250ms var(--timing-function);
        color: var(--first-btn-color);
    }
       
}



