.page-footer__logo {
    
    
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
  
    font-size: 26px;
    line-height: 1.19;
    color: var(--first-btn-color)
    
}

.page-footer__logo--another {
    transition: color 250ms var(--timing-function);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-btn-color);

    &:hover,
    &:focus {
        transition: color 250ms var(--timing-function);
        color: var(--first-btn-color);
    }

}


 
    .page-footer__logo {
        // ДЛя Телефона
            @media screen and (max-width: 767px) {
        display: flex;
        justify-content: center;
        
    }
        // ДЛя планшета
        @media screen and (min-width: 768px) and (max-width:1199px) {
        
            
        }
    

        // Для пк
        @media screen and (min-width: 1200px) {}
 }

 
 