/* ----------------------MODAL----------- */
.modal-btn__svg:hover {
   
    fill: var(--first-btn-color);
}

.modal-btn {

    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--second-btn-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;

}




.modal-window {
    
    
    position: relative;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
    left: 50%;
    padding: 40px;
    width: 100%;
   
    

    
transition: transform 250ms var(--timing-function);
    
   background: var(--second-btn-color);
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
}

.overlay {
        overflow-y: scroll;
    z-index: 21;
    padding: 93px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

}
@media screen and (min-width: 768px) {
    .overlay {
        padding: 0px;
    }
}

.overlay.is-hidden {
   
    opacity: 0;
    pointer-events: none;
}

.overlay.overlay.is-hidden .modal-window {
    
    transform: translate(-50%, -50%) scale(2);
    
   
    

}



.form__text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: var(--first-title-color);
}

.form__frame {
    margin-top: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form__frame:focus-within,
.form__frame input:focus-within,
.form__textarea:focus {
    transition:
        border-color 250ms var(--timing-function),
        fill 250ms var(--timing-function);
    fill: var(--first-btn-color);
    border-color: var(--first-btn-color);
    
}

.form__frame input {
    transition:
        border-color 250ms var(--timing-function);
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    margin: 0;
    
}

.form__svg {

    position: absolute;
    top: 11px;
    left: 15px;

    &:focus {
        transition: border-color 250ms var(--timing-function),
        fill 250ms var(--timing-function);
        fill: var(--first-btn-color);
        border-color: var(--first-btn-color);
    }
}

.form__name {

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--second-title-color);
}

.form__frame--another {
    margin-top: 4px;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form__input {
    cursor: pointer;
    padding-left: 42px;
}

.form__textarea {
    transition: border-color 250ms var(--timing-function);
    outline: none;
    padding: 12px 16px;
    cursor: pointer;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    
    &::placeholder {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}


textarea {
    resize: none;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.checkbox__input {
    appearance: none;
}

.checkbox__svg {
    transition: background-color 250ms var(--timing-function);
    cursor: pointer;
    min-width: 16px;
    height: 15px;
    border: 2px solid var(--first-title-color);
    border-radius: 2px;
}


.checkbox__input:checked+.checkbox__svg {
    transition: background-color 250ms var(--timing-function);
    background-color: var(--first-btn-color);
    background-origin: border-box;
    border-color: var(--first-btn-color);
    background-size: contain;
}

.checkbox__text {
    margin-left: 7px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-title-color);

}

.checkbox__text--color {
    text-decoration-line: underline;

    color: var(--first-btn-color);
}

.checkbox__btn {
   
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: var(--first-btn-color);
    color: var(--second-btn-color);
   

    &:hover {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    }

}


// // Для пк
// @media screen and (min-width: 1200px) {}


// // ДЛя планшета
// @media screen and (min-width: 768px) and (max-width:1199px) {}


// ДЛя Телефона
@media screen and (max-width: 1199px) {
    .checkbox__text {
           
            font-size: 12px;
            line-height: 14px;
        }
    
}
 
.checkbox--pozition {
    display: flex;
    flex-direction: column;
        align-items: center;
}
        



@media screen and (min-width: 480px)  {
    .modal-window {
        width: 450px;
    }
   
}
@media screen and (min-width: 1200px) {
    .modal-window{
    width: 528px;}
}