
// .page-header {
//     border-bottom-width: 1px;
//     border-bottom-style: solid;
//     border-bottom-color: #ECECEC;
//     padding-top: 24px;
//     padding-bottom: 24px;
//     display: flex;
//     align-items: center;
//     width: 1600px;
// }

// .page-header__list {
//     display: flex;
//     align-items: center;
// }

// .page-header__item {
//     margin-right: 50px;
// }

// .page-header__link--another {

//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: var(--first-btn-color);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     padding-top: 32px;
//     padding-bottom: 32px;
//     position: relative;
    
//     &::after{
//             position: absolute;
//             left: 0;
//             bottom: 0%;
//             content: '';
            
//             width: 100%;
//             height: 4px;
//             background-color: var(--first-btn-color);
//             border-radius: 2px;
//             transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     }
// }



// .page-header__link {
//     padding-top: 32px;

//     padding-bottom: 32px;
//     transition: color 250ms var(--timing-function);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: var(--first-title-color);
    
//     &:hover,
//     &:focus {
//         transition: color 250ms var(--timing-function);
//         color: var(--first-btn-color);
//     }
// }





