
// /* ---------------------------------------------SELECTION-ONE----------------------- */

// .selection-one {
//     margin-left: auto;
//     margin-right: auto;
//     max-width: 1600px;
//     padding-top: 200px;
//     padding-bottom: 200px;
//     background-color: var(--background-color);
//     background-image: linear-gradient(to right,
//             rgba(47, 48, 58, 0.4),
//             rgba(47, 48, 58, 0.4)),
//         url(..//..//image/index4.jpg);
//     background-repeat: no-repeat;
//     background-position: center;
    
// }

// .selection-title {
//     width: 696px;
//     margin: 0 auto 30px;

//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
//     text-align: center;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     color: var(--second-btn-color);

// }

// .selection-btn {
//     font-family: inherit;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.9;
//     text-align: center;
//     letter-spacing: 0.06em;

//     cursor: pointer;
//     border: none;
//     border-radius: 4px;

//     padding: 10px 32px;
//     min-width: 200px;
//     display: block;
//     margin: 0 auto;

//     color: var(--second-btn-color);
//     background-color: var(--first-btn-color);

// }