// .selection-two {
//     padding-top: 94px;
//     padding-bottom: 94px;

// }
// .hero-list {
//     @extend %position;
// }

// .hero-list__item {
//     width: 270px;
//     &:not(:last-child) {
//         margin-right: 30px;
//     }
// }

// .hero-list__name {

//     margin-top: 0px;
//     margin-bottom: 10px;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: var(--first-title-color);
// }

// .hero-list__text {

//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: var(--second-title-color);
// }

// .hero-list__icon {
//     @extend %flex;
//     width: 270px;
//     height: 120px;
//     margin-bottom: 30px;
//     border-radius: 4px;
//     background-color: var(--background-color-next);

// }


// .selection-two {
//     padding-top: 94px;
//     padding-bottom: 94px;

// }
// .hero-list {
//     @extend %position;
// }

// .hero-list__item {
//     width: 270px;
//     &:not(:last-child) {
//         margin-right: 30px;
//     }
// }

// .hero-list__name {

//     margin-top: 0px;
//     margin-bottom: 10px;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: var(--first-title-color);
// }

// .hero-list__text {

//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: var(--second-title-color);
// }

// .hero-list__icon {
//     @extend %flex;
//     width: 270px;
//     height: 120px;
//     margin-bottom: 30px;
//     border-radius: 4px;
//     background-color: var(--background-color-next);

// }

.selection-two {
    padding-top: 94px;
    padding-bottom: 94px;

}

.hero-list {

    // @extend %position;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
       
    }
}



.hero-list__item {
    width: 270px;

    // &:not(:last-child) {
    //     margin-right: 30px;
    // }
    // @media screen and (min-width: 768px) {
    //    flex-basis: 50%;
    // }
    // @media screen and (min-width: 1200px) {
    //    flex-basis: 50% / 2;
    // }
}

.hero-list__name {

    // margin-top: 0px;
    // margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-title-color);
}

.hero-list__text {

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}

.hero-list__icon {
    // @extend %flex;
    // width: 270px;
    height: 120px;
    // margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--background-color-next);

}