/* ------------------SELECTION-PORTFOLIO-ONE--------- */


   
    @media screen and (min-width: 767px) {
        .card-portfolio {
             display: flex;
                flex-wrap: wrap;
                margin: -15px;}
        
    }



// .card-portfolio__position {

//     margin-right: 30px;
//     margin-bottom: 30px;
//     width: 370px;
//     &:nth-child(3n) {
//         margin-right: 0;
//     }
//     &:not(:nth-child(-n + 6)) {
//         margin-bottom: 0px;
//     }
    
// }

// // ДЛя Телефона
@media screen and (max-width: 767px) {
    .card-portfolio__position{
       
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
    }

}


// // ДЛя планшета
@media screen and (min-width: 768px) and (max-width:1199px) {
    .card-portfolio__position{  
        margin: 15px;
         width: calc((100% - 4 * 15px) / 2);}
}

// // Для пк
@media screen and (min-width: 1200px) {
    .card-portfolio__position {
        margin: 15px;
        width: calc((100% - 6 * 15px) / 3);
        }
    
}











.card-portfolio__link {
    transition: box-shadow 250ms var(--timing-function);
    display: block;

    &:hover,
    &:focus {
        transition: box-shadow 250ms var(--timing-function);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover &.card-portfolio__frame {
        opacity: 1;
        transform: translateY(0);
    }
    
    &:hover .card-portfolio__frame {
        opacity: 1;
        transform: translateY(0);
    }
}




.card-portfolio__place {
    position: relative;
    overflow: hidden;
}

.card-portfolio__frame {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
}

.card-portfolio__text {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
   
    
   
    color: var(--second-btn-color);

}
.img-size {
    width: 100%;
}

.card-portfolio__content {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;

}

.card-portfolio__name {

    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--first-title-color);
}


.card-portfolio__alert {

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}