// /* ------------------------------------------SELECTION-FOUR--------------------------------------- */
// .selection-four
// {
// padding-top: 94px;
// padding-bottom: 94px;
// background-color: var(--background-color-next);
// }
// .selection-four__name {
//     margin-bottom: 50px;
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.16;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: var(--first-title-color);
// }

// .card-list {
// @extend %position;
// }


// .card-list__item {

//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
//         0px 1px 1px rgba(0, 0, 0, 0.14),
//         0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;
//     width: 270px;
//     height: 428px;
//     background-color: var(--second-btn-color);
//     &:not(:last-child) {
//         margin-right: 30px;
    
//     }
// }

// .card-list__position {

//     padding-top: 30px;
//     padding-bottom: 30px;

// }


// .card-list__name {
//     margin-top: 0px;
//     margin-bottom: 10px;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.18;
//     letter-spacing: 0.03em;
//     color: var(--first-title-color);
//     text-align: center;
// }

// .card-list__text {

//     font-size: 16px;
//     line-height: 1.18;
//     letter-spacing: 0.03em;
//     color: var(--second-title-color);
//     text-align: center;

// }

// .social {
//     margin-top: 16px;
//     @extend %flex-two;
// }

// .social__item+.social__item {
//     margin-left: 10px;
// }

// .social__icon {
//     @extend %flex;

//     background-color: var(--first-btn-color);
//     transition: color 250ms var(--timing-function),
//         background-color 250ms var(--timing-function);
//     width: 44px;
//     height: 44px;
//     border-radius: 50%;
    
    
//     color: #afb1b8;
//     background: rgba(255, 255, 255, 0.1);

    
//     &:hover,
//     &:focus {
//         transition: color 250ms var(--timing-function),
//         background-color 250ms var(--timing-function);
//         background-color: var(--first-btn-color);
//         color: var(--second-btn-color);

//     }
// }


// .social__svg {
//     fill: currentColor;
// }

/* ------------------------------------------SELECTION-FOUR--------------------------------------- */
.selection-four {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-color-next);
}

.selection-four__name {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    // text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color);
}

// .card-list {
//     @extend %position;
// }


.card-list__item {

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    height: 428px;
    background-color: var(--second-btn-color);

    &:not(:last-child) {
        margin-right: 30px;

    }
}

.card-list__position {

    padding-top: 30px;
    padding-bottom: 30px;

}


.card-list__name {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--first-title-color);
    text-align: center;
}

.card-list__text {

    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    text-align: center;

}

.social {
    margin-top: 16px;
    @extend %flex-two;
}

.social__item+.social__item {
    margin-left: 10px;
}

.social__icon {
    @extend %flex;

    background-color: var(--first-btn-color);
    transition: color 250ms var(--timing-function),
        background-color 250ms var(--timing-function);
    width: 44px;
    height: 44px;
    border-radius: 50%;


    color: #afb1b8;
    background: rgba(255, 255, 255, 0.1);


    &:hover,
    &:focus {
        transition: color 250ms var(--timing-function),
            background-color 250ms var(--timing-function);
        background-color: var(--first-btn-color);
        color: var(--second-btn-color);

    }
}


.social__svg {
    fill: currentColor;
}