// .menu-container.is-open{
//     display: flex;
//     flex-direction: column;
// }
.page-header__items {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
}


// ДЛя Телефона
@media screen and (max-width: 767px) {
   
    .page-header__link{
       
         font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
        color: var(--first-title-color);
        &:hover,
        &:focus {
                color: var(--first-btn-color);
            }
    }
         
    .page-header__position--tel{
        margin-bottom: 32px;
    }
.page-header__tel {
 font-weight: 500;
 font-size: 34px;
 line-height: 40px;
 letter-spacing: 0.02em;
 color: #2196F3;        
        
        } 
                .page-header__mailto{
                    font-weight: 500;
                        font-size: 24px;
                        line-height: 28px;
                        letter-spacing: 0.02em;
                        color: #757575;
                        transition: color 250ms var(--timing-function);
                    
                        &:hover,
                        &:focus {
                            transition: color 250ms var(--timing-function);
                            color: var(--first-btn-color);
                        }

                }
                
}

.page-header__items{
    @media screen and (min-width: 768px) {
            display: none;
        }
    }


.page-header__itemsd{
border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
    margin-left: 10px;
    &:first-child {
        border: none;
        padding-left: 0px;
            margin-left: 0px;
    }

}

@media screen and (max-width: 767px) {
    .page-header__social {
            display: flex;
            flex-wrap: wrap;
        }
                .page-header__item {
                    margin-top: 32px;
                    &:first-child {
                        margin-top: 0px;
                    }
                }
        .page-header__naw {
            display: flex;
            align-items: center;
            width: 100%;
            
        }
                
}

@media screen and (min-width: 768px) {
    .page-header__social {
        display: none;
    }
}

