%position {
    display: flex;
}

%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
%flex-two {
    justify-content: center;
    display: flex;
}

// // Для пк
// @media screen and (min-width: 1200px) {}


// // ДЛя планшета
// @media screen and (min-width: 768px) and (max-width:1199px) {}


// // ДЛя Телефона
// @media screen and (max-width: 767px) {}