:root {
    --header-color: #000000;
    --first-title-color: #212121;
    --second-title-color: #757575;
    --first-btn-color: #2196f3;
    --second-btn-color: #ffffff;
    --background-color: #2F303A;
    --background-color-next: #F5F4FA;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

img {
    display: block;
}

a {
    text-decoration: none;
}
.list {
    list-style: none;
}
